# Unsupervised Lab Session

## Learning outcomes:
- Exploratory data analysis and data preparation for model building.
- PCA for dimensionality reduction.
- K-means and Agglomerative Clustering

## Problem Statement
Based on the given marketing campigan dataset, segment the similar customers into suitable clusters. Analyze the clusters and provide your insights to help the organization promote their business.

## Context:
- Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.
- Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

## About dataset
- Source: https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis?datasetId=1546318&sortBy=voteCount

### Attribute Information:
- ID: Customer's unique identifier
- Year_Birth: Customer's birth year
- Education: Customer's education level
- Marital_Status: Customer's marital status
- Income: Customer's yearly household income
- Kidhome: Number of children in customer's household
- Teenhome: Number of teenagers in customer's household
- Dt_Customer: Date of customer's enrollment with the company
- Recency: Number of days since customer's last purchase
- Complain: 1 if the customer complained in the last 2 years, 0 otherwise
- MntWines: Amount spent on wine in last 2 years
- MntFruits: Amount spent on fruits in last 2 years
- MntMeatProducts: Amount spent on meat in last 2 years
- MntFishProducts: Amount spent on fish in last 2 years
- MntSweetProducts: Amount spent on sweets in last 2 years
- MntGoldProds: Amount spent on gold in last 2 years
- NumDealsPurchases: Number of purchases made with a discount
- AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- Response: 1 if customer accepted the offer in the last campaign, 0 otherwise
- NumWebPurchases: Number of purchases made through the company’s website
- NumCatalogPurchases: Number of purchases made using a catalogue
- NumStorePurchases: Number of purchases made directly in stores
- NumWebVisitsMonth: Number of visits to company’s website in the last month

### 1. Import required libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,accuracy_score,auc,roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

### 2. Load the CSV file (i.e marketing.csv) and display the first 5 rows of the dataframe. Check the shape and info of the dataset.

In [3]:
df = pd.read_csv('marketing.csv',encoding='unicode_escape')

In [4]:
df.sample(n=5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
1066,3005,1992,Graduation,Single,83528.0,0,0,1/5/2014,7,530,...,10,8,1,1,0,0,1,0,0,1
799,8523,1968,Graduation,Married,19329.0,1,0,14-12-2013,39,24,...,0,3,8,0,0,0,0,0,0,0
1334,2535,1978,Master,Married,88097.0,1,0,18-08-2012,24,163,...,5,8,9,0,1,1,1,0,0,1
890,1928,1973,Graduation,Married,31814.0,1,0,9/2/2013,73,35,...,0,3,9,1,0,0,0,0,0,0
387,6202,1960,Graduation,Together,63381.0,0,1,5/10/2012,78,571,...,5,13,2,0,0,0,0,0,0,0

### 3. Check the percentage of missing values? If there is presence of missing values, treat them accordingly.

In [5]:
df.isnull().sum()/len(df)*100

ID                     0.000000
Year_Birth             0.000000
Education              0.000000
Marital_Status         0.000000
Income                 1.071429
Kidhome                0.000000
Teenhome               0.000000
Dt_Customer            0.000000
Recency                0.000000
MntWines               0.000000
MntFruits              0.000000
MntMeatProducts        0.000000
MntFishProducts        0.000000
MntSweetProducts       0.000000
MntGoldProds           0.000000
NumDealsPurchases      0.000000
NumWebPurchases        0.000000
NumCatalogPurchases    0.000000
NumStorePurchases      0.000000
NumWebVisitsMonth      0.000000
AcceptedCmp3           0.000000
AcceptedCmp4           0.000000
AcceptedCmp5           0.000000
AcceptedCmp1           0.000000
AcceptedCmp2           0.000000
Complain               0.000000
Response               0.000000
dtype: float64

In [6]:
df.fillna(0).head(10)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,5524,1957,Graduation,Single,58138.0,0,0,4/9/2012,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,8/3/2014,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/2/2014,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,3,6,5,0,0,0,0,0,0,0
5,7446,1967,Master,Together,62513.0,0,1,9/9/2013,16,520,...,4,10,6,0,0,0,0,0,0,0
6,965,1971,Graduation,Divorced,55635.0,0,1,13-11-2012,34,235,...,3,7,6,0,0,0,0,0,0,0
7,6177,1985,PhD,Married,33454.0,1,0,8/5/2013,32,76,...,0,4,8,0,0,0,0,0,0,0
8,4855,1974,PhD,Together,30351.0,1,0,6/6/2013,19,14,...,0,2,9,0,0,0,0,0,0,1
9,5899,1950,PhD,Together,5648.0,1,1,13-03-2014,68,28,...,0,0,20,1,0,0,0,0,0,0

### 4. Check if there are any duplicate records in the dataset? If any drop them.

In [8]:
len(df[df.duplicated()])

0

### 5. Drop the columns which you think redundant for the analysis

In [10]:
df.drop(['ID', 'Marital_Status','Year_Birth','Education','Marital_Status','Dt_Customer'], axis = 1)

,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Response
0,58138.0,0,0,58,635,88,546,172,88,88,...,10,4,7,0,0,0,0,0,0,1
1,46344.0,1,1,38,11,1,6,2,1,6,...,1,2,5,0,0,0,0,0,0,0
2,71613.0,0,0,26,426,49,127,111,21,42,...,2,10,4,0,0,0,0,0,0,0
3,26646.0,1,0,26,11,4,20,10,3,5,...,0,4,6,0,0,0,0,0,0,0
4,58293.0,1,0,94,173,43,118,46,27,15,...,3,6,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,61223.0,0,1,46,709,43,182,42,118,247,...,3,4,5,0,0,0,0,0,0,0
2236,64014.0,2,1,56,406,0,30,0,0,8,...,2,5,7,0,0,0,1,0,0,0
2237,56981.0,0,0,91,908,48,217,32,12,24,...,3,13,6,0,1,0,0,0,0,0
2238,69245.0,0,1,8,428,30,214,80,30,61,...,5,10,3,0,0,0,0,0,0,0
2239,52869.0,1,1,40,84,3,61,2,1,21,...,1,4,7,0,0,0,0,0,0,1

### 6. Check the unique categories in the column 'Marital_Status'
- i) Group categories 'Married', 'Together' as 'relationship'
- ii) Group categories 'Divorced', 'Widow', 'Alone', 'YOLO', and 'Absurd' as 'Single'.

In [11]:
df['Marital_Status'].unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [12]:
df['Marital_Status'] =df['Marital_Status'].replace({'Married':'relationship','Together':'relationship','Divorced':'Single',
                                                   'Widow':'Single','Alone':'Single','YOLO':'Single','Absurd':'Single'})

In [13]:
df['Marital_Status'].unique()

array(['Single', 'relationship'], dtype=object)

### 7. Group the columns 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', and 'MntGoldProds' as 'Total_Expenses'

In [17]:
Total_Expenses = df.groupby(['MntWines','MntFruits','MntMeatProducts','MntFishProducts','MntSweetProducts','MntGoldProds']).sum()
print(Total_Expenses.head())

                                                                                     ID  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6             10241
                   1               2               12               5             10364
                                   7               4                6              6516
                                   8               3                2              9960
                   2               3               3                8               193

                                                                                  Year_Birth  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                   1975
                   1               2               12               5                   1959
                                   7               4                6                   1989
                                   8               3                2                   1991
                   2               3               3                8                   1996

                                                                                   Income  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6             11448.0
                   1               2               12               5             23295.0
                                   7               4                6             17487.0
                                   8               3                2             26868.0
                   2               3               3                8             14421.0

                                                                                  Kidhome  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                   0
                   1               2               12               5                   0
                                   7               4                6                   1
                                   8               3                2                   1
                   2               3               3                8                   0

                                                                                  Teenhome  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                    0
                   1               2               12               5                    0
                                   7               4                6                    0
                                   8               3                2                    0
                   2               3               3                8                    0

                                                                                  Recency  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                  16
                   1               2               12               5                  72
                                   7               4                6                  37
                                   8               3                2                  52
                   2               3               3                8                  81

                                                                                  NumDealsPurchases  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                             1
                   1               2               12               5                             1
                                   7               4                6                             1
                                   8               3                2                             1
                   2               3               3                8                             1

                                                                                  NumWebPurchases  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                           1
                   1               2               12               5                           1
                                   7               4                6                           1
                                   8               3                2                           1
                   2               3               3                8                           1

                                                                                  NumCatalogPurchases  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                               0
                   1               2               12               5                               0
                                   7               4                6                               0
                                   8               3                2                               0
                   2               3               3                8                               0

                                                                                  NumStorePurchases  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                             2
                   1               2               12               5                             2
                                   7               4                6                             2
                                   8               3                2                             2
                   2               3               3                8                             2

                                                                                  NumWebVisitsMonth  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                             6
                   1               2               12               5                             8
                                   7               4                6                             7
                                   8               3                2                             7
                   2               3               3                8                             5

                                                                                  AcceptedCmp3  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                        0
                   1               2               12               5                        0
                                   7               4                6                        0
                                   8               3                2                        0
                   2               3               3                8                        1

                                                                                  AcceptedCmp4  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                        0
                   1               2               12               5                        0
                                   7               4                6                        0
                                   8               3                2                        0
                   2               3               3                8                        0

                                                                                  AcceptedCmp5  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                        0
                   1               2               12               5                        0
                                   7               4                6                        0
                                   8               3                2                        0
                   2               3               3                8                        0

                                                                                  AcceptedCmp1  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                        0
                   1               2               12               5                        0
                                   7               4                6                        0
                                   8               3                2                        0
                   2               3               3                8                        0

                                                                                  AcceptedCmp2  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                        0
                   1               2               12               5                        0
                                   7               4                6                        0
                                   8               3                2                        0
                   2               3               3                8                        0

                                                                                  Complain  \
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                    0
                   1               2               12               5                    0
                                   7               4                6                    0
                                   8               3                2                    0
                   2               3               3                8                    0

                                                                                  Response
MntWines MntFruits MntMeatProducts MntFishProducts MntSweetProducts MntGoldProds
0        0         0               6               2                6                    0
                   1               2               12               5                    0
                                   7               4                6                    0
                                   8               3                2                    0
                   2               3               3                8                    0

### 8. Group the columns 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', and 'NumDealsPurchases' as 'Num_Total_Purchases'

### 9. Group the columns 'Kidhome' and 'Teenhome' as 'Kids'

### 10. Group columns 'AcceptedCmp1 , 2 , 3 , 4, 5' and 'Response' as 'TotalAcceptedCmp'

### 11. Drop those columns which we have used above for obtaining new features

### 12. Extract 'age' using the column 'Year_Birth' and then drop the column 'Year_birth'

### 13. Encode the categorical variables in the dataset

### 14. Standardize the columns, so that values are in a particular range

### 15. Apply PCA on the above dataset and determine the number of PCA components to be used so that 90-95% of the variance in data is explained by the same.

### 16. Apply K-means clustering and segment the data (Use PCA transformed data for clustering)

### 17. Apply Agglomerative clustering and segment the data (Use Original data for clustering), and perform cluster analysis by doing bivariate analysis between the cluster label and different features and write your observations.

### Visualization and Interpretation of results

-----
## Happy Learning
-----